In [91]:
import pandas as pd

df = pd.read_csv('../Mine.csv')
df

#df.describe()

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0       NaN
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0       NaN     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'    NaN     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0       NaN
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0       NaN
22        60          NaN  130.0     108.0     230.8
23        60  2023/10/24'  134.0       NaN     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60          NaN   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0       NaN
31        60  2023/10/31'   94.0     126.0       NaN
32        60  2023/10/01'  110.0     130.0     409.1
33        60  2023/10/01'  110.0     130.0     409.1
34        60  2023/10/01'  110.0     130.0     409.1
35        60  2023/10/01'  110.0     130.0     409.1
36        60  2023/10/01'  110.0     130.0     409.1
37        60  2023/10/01'  110.0     130.0     409.1

In [92]:
#Removing nulls
nulless = df.dropna()
nulless

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
14        60  2023/10/15'  120.0     100.0     240.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
32        60  2023/10/01'  110.0     130.0     409.1
33        60  2023/10/01'  110.0     130.0     409.1
34        60  2023/10/01'  110.0     130.0     409.1
35        60  2023/10/01'  110.0     130.0     409.1
36        60  2023/10/01'  110.0     130.0     409.1
37        60  2023/10/01'  110.0     130.0     409.1

In [93]:
#removing duplicate rows
nulless=nulless.drop_duplicates(keep=False)
nulless

    Duration         Date  Pulse  Maxpulse  Calories
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
14        60  2023/10/15'  120.0     100.0     240.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2

In [94]:
#Checking data types
nulless.dtypes

Duration      int64
Date         object
Pulse       float64
Maxpulse    float64
Calories    float64
dtype: object

In [95]:
#Correcting the date datatype
nulless['Date'] = pd.to_datetime(nulless['Date'],errors='coerce')
nulless=nulless.dropna(subset=['Date'])
nulless.dtypes

C:\Users\Unity\AppData\Local\Temp\ipykernel_29480\2127939060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nulless['Date'] = pd.to_datetime(nulless['Date'],errors='coerce')

Duration             int64
Date        datetime64[ns]
Pulse              float64
Maxpulse           float64
Calories           float64
dtype: object

In [96]:
nulless

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
14        60 2023-10-15  120.0     100.0     240.8
16        60 2023-10-17  127.0     102.0     380.2
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2

In [97]:
#Dropping the duration column
nulless=nulless.drop(columns=['Duration'])
nulless

         Date  Pulse  Maxpulse  Calories
1  2023-10-02  117.0     145.0     479.0
2  2023-10-03  103.0     135.0     340.3
3  2023-10-04  109.0     175.0     282.4
4  2023-10-05  117.0     150.0     405.1
5  2023-10-06  103.0     125.0     300.0
6  2023-10-07  110.0     135.0     374.0
8  2023-10-09  112.0     126.0     193.8
9  2023-10-10  102.0     147.0     234.8
10 2023-10-11  100.0     129.0     375.3
11 2023-10-12  109.0     131.0     345.6
12 2023-10-13  103.0     136.0     239.2
14 2023-10-15  120.0     100.0     240.8
16 2023-10-17  127.0     102.0     380.2
19 2023-10-20  162.0     105.0     300.9
20 2023-10-21  100.0     106.0     280.0
24 2023-10-25  132.0     110.0     236.9
25 2023-10-26  135.0     118.0     278.8
26 2023-10-27  137.0     119.0     212.9
27 2023-10-28  138.0     121.0     345.9
28 2023-10-29  139.0     122.0     345.2