In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('../../AfricaCupofNationsMatches.csv')
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

In [42]:
df.columns

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance'],
      dtype='object')

In [43]:
wanted = df[['HomeTeam','AwayTeam','HomeTeamGoals','AwayTeamGoals']]
wanted.head(5)

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0

In [44]:
#selecting rows where Egypt appears
egypt= df[(df['HomeTeam']=='Egypt')|(df['AwayTeam']=='Egypt')]
egypt.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN

In [45]:
#Counting the number of rows and columns
df.shape

(622, 12)

In [46]:
missing_attendance=df[df['Attendance'].isna()]
missing_attendance.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN

In [47]:
#HomeTeamGoals between 3 qnd 6
goals_df = df[df['HomeTeamGoals'].between(3, 6)]
goals_df.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN

In [48]:
loc_test=goals_df.loc[0:5,['Year','HomeTeam']]
loc_test

   Year HomeTeam
2  1957   Egypt
3  1959    Egypt

In [49]:
loc_test1=goals_df.iloc[0:5]
loc_test1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN

In [50]:
#Accessing single values
year2=goals_df.iat[3,goals_df.columns.get_loc('HomeTeamGoals')]
print(year2)

3.0

In [54]:
before_goals=df.iat[2,df.columns.get_loc('HomeTeamGoals')]
print(before_goals)

4.0

In [52]:
#Change away team goals in third row to 10
df.iat[2,df.columns.get_loc('HomeTeamGoals')]=10
new_goals=df.iat[2,df.columns.get_loc('HomeTeamGoals')]
print(new_goals)

10.0

In [56]:
#Sorting the dataframe by HomTeam in ascending order
df.sort_values(by=['HomeTeam'],inplace=True)
df.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
210,1990,8-Mar-90,NaN,Algeria,Egypt,2.0,0.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,86000.0
546,2017,19 January 2017 (2017-01-19),17:00,Algeria,Tunisia,1.0,2.0,Group B,NaN,Stade de Franceville,Franceville,NaN
150,1982,10-Mar-82,NaN,Algeria,Nigeria,2.0,1.0,Group B,NaN,28 March Stadium,Benghazi,5000.0
148,1982,7-Mar-82,NaN,Algeria,Zambia,1.0,0.0,Group B,NaN,28 March Stadium,Benghazi,5000.0
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0

In [59]:
#Sorting by HomeTeamScores in descending order
df.sort_values(by=['HomeTeamGoals'],inplace=True,ascending=False)
df.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
46,1970,10-Feb-70,NaN,Ivory Coast,Ethiopia,6.0,1.0,Group A,NaN,Municipal Stadium,Khartoum,9770.0
464,2008,26-Jan-08,17:00,Cameroon,Zambia,5.0,1.0,Group C,NaN,Baba Yara Stadium,Kumasi,10000.0
72,1972,4-Mar-72,NaN,Cameroon,Zaire,5.0,2.0,Third place match,NaN,Stade Omnisports,Yaoundé,NaN
270,1996,20-Jan-96,NaN,Zambia,Burkina Faso,5.0,1.0,Group B,NaN,Free State Stadium,Bloemfontein,2000.0

In [60]:
#Gettin list from dataframe column headers
df.columns

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance'],
      dtype='object')

In [64]:
#Appending a column to the data frame
df['AppendedColumn']=None
df.head(5)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,AppendedColumn
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN,None
46,1970,10-Feb-70,NaN,Ivory Coast,Ethiopia,6.0,1.0,Group A,NaN,Municipal Stadium,Khartoum,9770.0,None
464,2008,26-Jan-08,17:00,Cameroon,Zambia,5.0,1.0,Group C,NaN,Baba Yara Stadium,Kumasi,10000.0,None
72,1972,4-Mar-72,NaN,Cameroon,Zaire,5.0,2.0,Third place match,NaN,Stade Omnisports,Yaoundé,NaN,None
270,1996,20-Jan-96,NaN,Zambia,Burkina Faso,5.0,1.0,Group B,NaN,Free State Stadium,Bloemfontein,2000.0,None

In [65]:
#Adding two rows to the dataframe
df.append(ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'